h1 {
  color: blue;
  font-family: helvetica;

}

h2 {
  font-family: 'Lobster Two', cursive;
  color: darkcyan;

}


header p {
    background-color: green;
    color: white;
    width: 500px;
}
p {
    max-width: 600px;
    background-color: #E3DFE7;

}

figure img {
  width: 60%;
  border: 1px black;

}

p img {
  float: left;
  max-width: 30%;
}
